/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: black;
    font-family: 'bitter', sans-serif;
}

/* Header */
header {
    background-color: #745637;
}

/* Main content */
main {
    background-color: bisque;
    /* Maine element set up to take any surplus space */
    flex: 1 0 auto;
}

/* Footer */
 footer {
    background-color: #c68644;
}

