/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: #b1a07c;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #7a715d;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
 text-decoration: none;
 color: inherit;   
}

h1 {
    font-family: 'Satisfy', cursive;
    letter-spacing: 4px;
    color: white;
    display: block;
    font-size: 2.5em;
    text-transform: capitalize; 
   
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    color: white;
    font-size: 21px;
}

#menu > li {
margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #b1a07c;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #7a715d;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
label > i {
    color: white;
}

/* Main content */
main {
    background-color: #fcfaf5;
    /* Maine element set up to take any surplus space */
    flex: 1 0 auto;
    margin-top: 120px;
   
}
/* Footer */
footer {
    background-color: #b1a07c;
    color:white;
    
}
  
footer > h2 {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
    padding: 0.5rem;

}
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 130%;
    padding: 3%;
    color: white;

}

/* Media query: tablets and larger (768px and up) */
@mediascreenand (min-width: 768px) {

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 00.5rem;
    }

    /* Main content */
    main {
        margin-top: 120px;
    }

    /* Large devices (laptops and desktops, 992px and up) */
    @mediascreenand (min-width: 992px) {
        #menua:hover {
            border-bottom: 1pxsolid#3a3a3a;
        }
    }
